backend/node_modules/
.env
backend/.env
backend/node_modules/@google/generative-ai/LICENSE
backend/node_modules/@google/generative-ai/package.json
backend/node_modules/@google/generative-ai/README.md