backend/node_modules/
.env
backend/.env
backend/node_modules/@google/generative-ai/LICENSE
backend/node_modules/@google/generative-ai/package.json
backend/node_modules/@google/generative-ai/README.md
.venv/
Model/__pycache__/
backend/package-lock.json
backend/uploads/
backend/.pytest_cache/